.idea/workspace.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/tasks.xml       # personal tasks
.idea/shelf/          # local code reviews
.idea/**/target/     # plugin or framework outputs
.idea/modules/
.idea/artifacts/
.idea/caches/
.idea/runConfigurations/
.idea/lucene-kmp.iosApp.iml
.idea/xcode.xml
.idea/.name
.idea/modules.xml
.idea/migrations.xml

local.properties
/.gradle/
/.kotlin/
/lucene-kmp/
/bbl-kmp/
/jdk24u/

CONTINUITY.md
.DS_Store
/build/
